@inherits CommerceWebApp.Client.Shared.ProductBase
@using CommerceWebApp.Shared
@using Newtonsoft.Json

<button onclick=@(() => SetPage.InvokeAsync(ProductPage.Products))>Back</button>
<pre></pre>
<table>
    <thead>
        <tr>
            <th class="table-data">Name</th>
            <th class="table-data">Id</th>
            <th class="table-data">Price</th>
            <th class="table-data">Stock</th>
            <th class="table-data">Dimensions</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@(Product!.Name)</td>
            <td>@(Product!.Id)</td>
            <td>@(Product!.Price)</td>
            <td>@(Product!.Stock)</td>
            <td>@(JsonConvert.SerializeObject(Product!.Dimensions))</td>
        </tr>
    </tbody>
</table>
<pre></pre>

<label>Review: </label>
<input type="range" list="tickmarks" min="0" max="10" step="1" value="5" @oninput=SetCurrentReview/>
<datalist id="tickmarks">
<option value="0"></option>
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
<option value="5"></option>
<option value="6"></option>
<option value="7"></option>
<option value="8"></option>
<option value="9"></option>
<option value="10"></option>
</datalist>
<label>@(CurrentReview)</label>
<br>
<button @onclick=SubmitReview>Submit</button>